@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fffcf4;
    --foreground: #0a0a0a;
    --font-poppins: 'Poppins';
    --font-size: 16px;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/


@layer base {
    html {
        font-size: var(--font-size);
    }

    body {
        color: var(--foreground);
        background: var(--background);
        font-family: var(--font-poppins), "Poppins Placeholder", sans-serif;
    }

    h1 {
        @apply text-3xl lg:text-5xl leading-[2rem] md:leading-[3rem] lg:leading-[3.5rem] xl:leading-[3.875rem] 2xl:leading-[4.5rem] font-medium;
    }

    h2 {
        @apply text-2xl lg:text-4xl leading-[2.5rem] md:leading-[2.5rem] lg:leading-[2.75rem] xl:leading-[3rem] 2xl:leading-[3.25rem] font-medium;
    }

    h3 {
        @apply text-xl lg:text-3xl leading-[2.25rem] md:leading-[2.25rem] lg:leading-[2.5rem] xl:leading-[2.75rem] 2xl:leading-[3rem] font-medium;
    }

    h4 {
        @apply text-lg lg:text-2xl leading-[1.75rem] md:leading-[1.75rem] lg:leading-[2rem] xl:leading-[2.25rem] 2xl:leading-[2.5rem] font-medium;
    }

    h5 {
        @apply text-base lg:text-xl leading-[1.5rem] md:leading-[1.5rem] lg:leading-[1.75rem] xl:leading-[2rem] 2xl:leading-[2.25rem] font-medium;
    }

    h6 {
        @apply text-sm lg:text-lg leading-[1.25rem] md:leading-[1.25rem] lg:leading-[1.5rem] xl:leading-[1.75rem] 2xl:leading-[2rem] font-medium;
    }

}

