@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fffcf4;
    --foreground: #0a0a0a;
    --font-poppins: 'Poppins';
    --font-size: 16px;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

@layer components {
    .navbar {
        @apply flex items-center justify-between bg-transparent px-10 py-4 lg:py-8 xl:py-10 2xl:py-12 text-base lg:text-lg xl:text-xl 2xl:text-2xl;

        .navbar-links {
            @apply flex-1;
        }
    }

    .hero {
        .hero-intro {
            @apply flex flex-col items-center justify-between space-y-10;

            .hero-intro-paragraph {
                @apply flex text-[5.625rem] md:text-[7rem] lg:text-[8.5rem] xl:text-[11.25rem] 2xl:text-[14rem] leading-[6.25rem] md:leading-[7.5rem] lg:leading-[9rem] xl:leading-[12rem] 2xl:leading-[15rem]
            }
        }

        .hero-my-stacks {
            @apply py-4 lg:py-8 xl:py-10 2xl:py-12 space-y-2 md:space-y-6 lg:space-y-8 xl:space-y-10 2xl:space-y-12;

            p {
                @apply text-base md:text-lg lg:text-xl xl:text-xl 2xl:text-2xl;
            }

            .hero-stack {
                @apply  flex-1 flex items-center space-x-4 border-b py-4 md:py-6 lg:py-6 xl:py-8 2xl:py-10;

                p {
                    @apply text-sm md:text-base lg:text-base xl:text-base 2xl:text-xl;
                }
            }
        }

        .hero-featured-work{
            @apply py-4 lg:py-8 xl:py-10 2xl:py-12 space-y-2 md:space-y-6 lg:space-y-8 xl:space-y-10 2xl:space-y-12;
            p {
                @apply text-base md:text-lg lg:text-xl xl:text-xl 2xl:text-2xl;
            }
        }

        .hero-featured-contact{
            @apply flex flex-col py-4 lg:py-8 xl:py-10 2xl:py-12 space-y-2 md:space-y-6 lg:space-y-8 xl:space-y-10 2xl:space-y-12;
            p {
                @apply text-base md:text-lg lg:text-xl xl:text-xl 2xl:text-2xl;
            }
        }
    }

    .about {
        @apply flex flex-col;

        .about-intro, .about-details {
            @apply flex-1 flex justify-between md:space-x-10 lg:space-x-12 xl:space-x-16 2xl:space-x-20;
        }

        .about-intro {

            p {
                @apply text-base md:text-lg lg:text-xl xl:text-xl 2xl:text-2xl;
            }

            .about-intro-image-container {
                @apply relative rounded xl:rounded-xl 2xl:rounded-2xl w-[300px] h-[400px] md:w-[350px] md:h-[467px] lg:w-[450px] lg:h-[600px] xl:w-[500px] xl:h-[667px] 2xl:w-[600px] 2xl:h-[800px]
            }

            .about-intro-content-container {
                @apply flex-1 flex flex-col md:space-y-8 lg:space-y-10 xl:space-y-12 2xl:space-y-14 py-4 lg:py-8 xl:py-10 2xl:py-12;
            }
        }

        .about-details {
            @apply py-4 lg:py-8 xl:py-10 2xl:py-12;

            p {
                @apply text-sm md:text-base lg:text-base xl:text-base 2xl:text-xl;
            }
        }
    }
}

@layer base {
    html {
        font-size: var(--font-size);
    }

    body {
        color: var(--foreground);
        background: var(--background);
        font-family: var(--font-poppins), "Poppins Placeholder", sans-serif;
    }

    h1 {
        @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl leading-[3rem] md:leading-[3rem] lg:leading-[3.5rem] xl:leading-[3.875rem] 2xl:leading-[4.5rem] font-medium;
    }

    h2 {
        @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl leading-[2.5rem] md:leading-[2.5rem] lg:leading-[2.75rem] xl:leading-[3rem] 2xl:leading-[3.25rem] font-medium;
    }

    h3 {
        @apply text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl leading-[2.25rem] md:leading-[2.25rem] lg:leading-[2.5rem] xl:leading-[2.75rem] 2xl:leading-[3rem] font-medium;
    }

    h4 {
        @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl leading-[1.75rem] md:leading-[1.75rem] lg:leading-[2rem] xl:leading-[2.25rem] 2xl:leading-[2.5rem] font-medium;
    }

    h5 {
        @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl leading-[1.5rem] md:leading-[1.5rem] lg:leading-[1.75rem] xl:leading-[2rem] 2xl:leading-[2.25rem] font-medium;
    }

    h6 {
        @apply text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl leading-[1.25rem] md:leading-[1.25rem] lg:leading-[1.5rem] xl:leading-[1.75rem] 2xl:leading-[2rem] font-medium;
    }

}

